@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: "Rubik", sans-serif;
}

:root {
    font-size: 62.5%;
}

.d-flex {
    display: flex;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 5%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 5;
    transition: all 0.35s ease;
    background: #34383c94;

}

.logo {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.logo img {
    width: 150px;
    height: 100px;
}

.social {
    margin: 0 auto 0 100px;
}

.social a {
    margin: 0 4px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.social a:hover {
    background: rgb(235, 180, 1);
}

.social a i {
    display: flex;
    font-size: 25px;
    color: #fff;
    padding-top: 6px;
    transition: all 0.5s ease;
}

.social a:hover i {
    color: #444;
}

.navbar {
    margin-left: auto;
}


.navbar a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar a:hover {
    color: rgb(235, 180, 1);
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;

}

.slider .slide {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.slide img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease;
}

.slide.active img {
    opacity: 1;
}

.slide .left-info {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


.left-info .penetrte-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.penetrte-blur h1 {
    font-size: 100px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 5);

}

.left-info .content {
    position: absolute;
    bottom: 8%;
    left: 10%;
    color: #fff;
}

.content h3 {
    font-size: 18px;
    font-weight: bolder;


}

.content p {
    width: 500px;
    font-size: 16px;
    margin: 10px 0 20px 0;
    color: white;

}

.content a {
    text-decoration: none;
}

.content .btn {

    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 2em;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 6px 40px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(to right, rgb(235, 180, 1) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s;
    -webkit-clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px));
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px));
    border: 2px solid rgb(235, 180, 1);
}

.content .btn:hover {
    background-position: left bottom;
}

/* header secttion end ====================================================================================== */
.gamehead{
    margin-top: 50px;
    background-color:rgb(235, 180, 1) ;
    padding: 15px;
}
.gamehead h1 {
    text-align: center;
    font-size: 25px;
}

.gamebox {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

}


.game {
    width: 520px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(232, 229, 229);

}

.game img {
    width: 100%;
    height: 300px;
}

.game-info {
    padding: 10px;
}

.game-title {
    font-size: 23px;
    margin: 0;
    padding-bottom: 5px
}

.game-price {
    font-size: 18px;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(235, 180, 1);
}

.buy-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: rgb(235, 180, 1);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 15px;
}

.buy-button:hover {
    background-color: rgb(205, 157, 2);
}
/* main section end ============================================================================================ */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
footer p{
    font-size: 16px;
}