@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  font-size: 62.5%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 5%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 5;


}

.logo {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.logo img {
  width: 150px;
  height: 100px;
}

.social {
  margin: 0 auto 0 100px;
}

.social a {
  margin: 0 4px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.social a:hover {
  background: rgb(235, 180, 1);
  text-decoration: none;
}

.social a i {
  display: flex;
  font-size: 25px;
  color: #fff;
  padding-top: 6px;
  transition: all 0.5s ease;
}

.social a:hover i {
  color: #444;
}


.navbar a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar a:hover {
  color: rgb(235, 180, 1);
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;

}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.slide img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s ease;
}

.slide.active img {
  opacity: 1;
}

.slide .left-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transform: translateX(-100%);
  transition: 0s;
}

.slide.active .left-info {
  transform: translateX(0);
  z-index: 1;
  transition: 1s ease;
}

.left-info .penetrte-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.penetrte-blur h1 {
  font-size: 195px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 5);
}

.left-info .content {
  position: absolute;
  bottom: 8%;
  left: 10%;
  color: #fff;
}

.content h3 {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.content p {
  font-size: 16px;
  margin: 10px 0 1.5rem;
}

.content a {
  text-decoration: none;
}

.content .btn {

  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 6px 40px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(to right, rgb(235, 180, 1) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s;
  -webkit-clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px));
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px));
  border: 2px solid rgb(235, 180, 1);
}

.content .btn:hover {
  background-position: left bottom;
}

.slide .right-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  transition: 0s;
}

.slide.active .right-info {
  transform: translateX(0);
  z-index: 1;
  transition: 1s ease;
}

.right-info h1 {
  font-size: 185px;
  color: #f1f0f0;
  transform: translateY(20%);
  letter-spacing: -4px;



}

.right-info h3 {
  position: absolute;
  font-size: 55px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-80%);
  margin-left: 1.3rem;
}

/* header complete ==================================================================================== */

.container{
  width: 1200px;
}
#about h1 {
  font-size: 22px;
  background-color: rgb(235, 180, 1);
  padding: 15px 0 15px 45px;
  margin: 20px 0;
}

.abox1 .aimage img {
  width: 550px;
  height: 310px;
}
.apara{
  width: 560px;
}

.abox1 .apara p {
  margin-left: 15px;
  color: #666;
  line-height: 1.3;
  font-size: large;
}

.abox1 .apraicon {
  margin: 50px 0 0 22px;
  font-size: 45px;



}

.abox1 .apraicon i {
  margin: -6px;
  font-weight: bold;
  color: rgb(235, 180, 1);
}

.abox2 .aimage img {
  width: 550px;
  height: 310px;
}

.abox2 {
  margin-top: 30px;
  margin-bottom: 50px;
}

.abox2 .apara p {
  margin-right: 15px;
  color: #666;
  line-height: 1.3;
  font-size: large;
}

.abox2 .apara .apraicon {
  margin-left: auto;
  margin-top: 50px;
  font-size: 45px;
}

.abox2 .apraicon i {
  margin: -6px;
  font-weight: bold;
  color: rgb(235, 180, 1);
}

/* complete about us ================================================================================== */
.gamebox {
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

}
.gamehead h1 {
  font-size: 22px;
  background-color: rgb(235, 180, 1);
  padding: 15px 0 15px 45px;
}




.game {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(232, 229, 229);
  margin-top: 20px;

}

.game img {
  width: 100%;
  height: 300px;
}

.game-info {
  padding: 10px;
}

.game-title {
  font-size: 23px;
  margin: 0;
  padding-bottom: 5px
}

.game-price {
  font-size: 18px;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(235, 180, 1);
}

.buy-button {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: rgb(235, 180, 1);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
}

.buy-button:hover {
  background-color: rgb(205, 157, 2);
}

/* games section complete================================================================================== */
.bgimage {
  width: 100%;
  height: auto;
  background-image: url("/featurebg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.features h1 {
  font-size: 22px;
  background-color: rgb(235, 180, 1);
  padding: 15px 0 15px 45px;

}

.feabox {
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

}

.feature {
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(146, 146, 146);
  margin-top: 20px;
  text-align: center;
  padding: 10px 0;

}

.feature img {
  width: 100%;
width: 350px;
  
  border-radius: 10px;
}

.feature h2 {
  margin-top: 10px;
  font-size: 18px;
  color: white;
}

.feature p {
  margin-top: 10px;
  font-size: 15px;
  color: white;
}

/* feture complete ========================================================================================= */
nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 20px 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 24px;

}

nav ul li a:hover {
  color: #666;
}

section #faq {
  margin-bottom: 40px;
}

#faq h2 {
  color: #333;
  font-size: 21px;
  margin-top: 15px;
}

#faq ul {
  list-style-type: none;
  padding: 0;
}

#faq li {
  margin-bottom: 20px;
}

#faq li h3 {
  margin: 10px 0 5px 0;
  font-size: 18px;
}

#faq li p {
  font-size: 16px;
}

#contact h2 {
  font-size: 21px;
}

#contact p {
  font-size: 16px;
}
.fosupport{
  margin: auto;
  width: 750px;
  background-color: rgb(235, 180, 1);
  padding:25px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

form {
  width: 700px;
}

#contact label {
  display: block;
  margin-bottom: 5px;
}

#contact input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}
/* support section complete================================================================================ */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.footinfo h2 {
  color: rgb(235, 180, 1);
  font-size: 35px;
}

.footinfo p {
  font-size: 16px;
}

.footer-description {
  font-size: 14px;
  margin-top: 10px;
}

.copyfoot {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.footlogo {
  margin-left: auto;
  padding-top:10px;
  margin-right: 50px;

}

.footlogo img {
  width: 160px;
}